table {
    width: 100%;
    border: 1px solid #000;
}

table th {
    border: 2px solid #000;
}

table td,
table th {
    width: 33%;
    text-align: center;
    border: 1px solid #000;
}

table,
table th,
table td {
    border-collapse: collapse;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.red {
	background-color: red;
}